
h3, p, body{
    margin: 1%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: sans-serif;
    background-color: rgb(80, 255, 147);
    max-width: 35%;
}


img {
    max-width: 61%;
    height: auto;
    position: absolute;
    position: center;
    left: 35%;
}

@media only screen and (max-width: 700px) {
    img{
        width: 100%;
        height: auto;
        position: relative;
        left: 0%;
    
    }

    .top{
       position: relative;
       max-width: 100%;
       text-align: center;
    }

    
    #button{
        width: 50%;
        right: -20px;
        text-align: center;
    }


    p, body{
        margin: 0;
        overflow-wrap: break-word;
        max-width: 100%;
        bottom: 0px;
        position: relative;
        text-align: center;
    }  

  }

